/* .carousel img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
.carousel ul{
    display: none;
}
.legend{
    background-color: #faf1f18c !important;
    font-size: 2em !important;
} */