.countCards {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: .5em 0;
    padding: .5em 0;
    background-color: #5151513d;
}

.countCards p {
    display: flex;
    justify-content: center;
    width: 6em;
    font-weight: 600;
    cursor: pointer;
}

button {
    padding: .5em 1em;
    margin: .5em;
    background: transparent;
    border: #515151 solid 1px;
    outline: none;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}