.containerNav{
    opacity: .99;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(81, 81, 81, 0.281);
    -webkit-box-shadow: 0px -5px 19px 6px #00000070;
    -moz-box-shadow: 0px -5px 19px 6px #00000070;
    box-shadow: 0px -5px 19px 6px #00000070;

    
}
/* logo*/
.nav a img {
    max-width: 4em;
    margin: .5em;
}

/*lista*/
.nav ul {
    display: flex;
    margin: 0 2em;
    display: flex;
    flex-wrap: wrap;
}

.nav ul li {
    margin: 2em;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
}

.nav ul li a:hover {
    color: #FFEB54;
}

/*iconos*/

.icons{
    display: flex;
    align-items: center;
}
.icons a {
    margin: 1em;
    font-size: 1.2em;
}
.firstIcons form input {
    outline: none;
    border: none;
    background-color: transparent;
}

.firstIcons form input:focus {
    border-bottom: #fff solid 1px;
}


.cartPlus {
    position: relative;
}
.cartPlus span {
    position: absolute;
    background: #ff5a5f;
    border-radius: 50%;
    width: 1.1em;
    height: 1.1em;
    right: 1em;
    top: -.7em;
    display: flex;
    justify-content: center;
    padding: 1px;
    color: #fff;
    font-weight: 200;
    font-size: .8em;
}

.icons button {
    margin-left: 1em;
    padding: .5em;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: .25em;
    background-color: rgba(81, 81, 81, 0.281);
    outline: none;
}
.icons button:hover{
    color: #fff;
    border:solid 1px  #FFEB54;
}


/* boton de hamburguesa */

.nav-icon-5 {
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display:inline-block;
}

.nav-icon-5 span {
    background-color: #515151;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 500ms
}

.nav-icon-5 span:nth-child(1) {
    top: 0px;
    left: 0px;
}

.nav-icon-5 span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
}

.nav-icon-5 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
}

.nav-icon-5:not(.open):hover span:nth-child(1) {
    transform: rotate(-3deg) scaleY(1.1);
}

.nav-icon-5:not(.open):hover span:nth-child(2) {
    transform: rotate(3deg) scaleY(1.1);
}

.nav-icon-5:not(.open):hover span:nth-child(3) {
    transform: rotate(-4deg) scaleY(1.1);
}

.nav-icon-5.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
}

.nav-icon-5.open span:nth-child(2) {
    opacity: 0;
}

.nav-icon-5.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
}

/* backgraund fondo del nav responsive */
.bgDiv {
    background: #515151;
    position: absolute;
    top: -1000px;
    left: -700px;
    width: 100%;
    height: 100%;
    z-index: -10;
    transition: all 1s ease;
}

.bgDiv.active {
    border-radius: 0 0 40% 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
}



/*media queries*/

@media screen and (min-width: 1100px) {
    .nav-icon-5{
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .nav{
        position: relative;
        background: #fcee85;
    }
    .nav ul{
        display: none;
    }
    .nav ul.active {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        width: 100%;
        height: 120vh;
        padding-top: 3em;
    }  
    .nav ul li a{
        display: block;
        color: #fff;
        text-align: center;
    }
    .firstIcons {
        display: none;
    }
    .cartPlus {
        display: block;
    }
    .iconsButton{
        display: none;
    }
    .iconsButton.active {
        position: absolute;
        display: block;
        width: 100%;
        top: 35em;
        left: 0;
        text-align: center;
        
    }
    .icons button{
        background: #515151;
        color: #fff;
        margin: 0;
        outline: none;
        border: 1px solid 22;
    }
    .icons button:focus {
        transform: scale(1.2);
    }
}

