.containerFormPayment{
    margin: 5em;
    min-height: 50vh;
}

/***iniciar la compra***/
/*formulario datos del usuario*/
.paymentH2{
    padding: 2em 0;
}
.formPay{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 47%));
    justify-content: space-between;

}
.containerFormPayment form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerFormPayment form input{
    width: 100%;
    margin: .5em 0;
    padding: .5em;
    border: solid rgba(85, 85, 85, 0.493) 1px;
    outline: none;
}
.btnForm {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: 1em 0;
    padding: .5em 2em;
    width: 70%;
    border: solid rgba(85, 85, 85, 0.671) 1px;
    outline: none;
}
.btnForm:hover{
    color: #b19d0a;
}

/*table de detalle de productos*/
.buys {
    background-color: #dbd8d869
}

.tablePay{
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr);
    justify-content: space-between;
    padding: 1.5em 1em 1em 1em;
}
.payTotal p{
    padding: 1em 1em .5em 1em;
    font-weight: 300;
}
.tablePayP{
    text-align: end;
}
.payTotalH{
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
}
.payFinal {
    font-size: 2em;
    color: #b19d0a;
}
.errors{
    color: red;
    font-size: .7em;
}
/****Finalizada la compra*****/
.finalBuy{
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 235, 84, .7) 43%, rgba(255, 235, 84, .9) 77%);
    padding: 10em;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.finalBuy h2{
    font-size: 3.5em;
    font-weight: 300;
    line-height: 2em;
}
.finalBuy h3{
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5em;
    text-align: center;
}
.finalBuy p {
    text-align: center;
}
.spanFinal {
    font-size: 1.2em;
    color: #b19d0a;
}

/*media queries*/
@media screen and (max-width: 1150px) {
    .containerFormPayment {
        padding-top: 5em;
    }
    .paymentH2 {
        padding: 1em 0;
    }
}    
@media screen and (max-width: 700px) {
    .containerFormPayment{
        margin: 3em 1em ;
    }
    
    .formPay{
        grid-template-columns: 1fr;
    }
    .finalBuy{
        padding:7em 1em;
    }
    .finalBuy h3{
        padding-top: 2em;
    }
    .finalBuy h2 {
        font-size: 2em;
    }
}
