.footer{
    background-color: #777;
}
.containerFooter{
    padding: 3em 5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.containerImage img{
    width: 5em;
    padding-bottom: 1em;
}
.containerImage p{
    width: 20em;
    color: #fff;
    font-size: .8em;
    font-weight: 300;
}

.footerNav {
    list-style: none;
    line-height: 150%;
    text-align: center;
}
.footerNav li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: .8em;
    cursor: pointer;
    
}
.footerNav li a:hover{
    color: #FFEB54;
}


.footerIcons{
    text-align: end;
    line-height: 150%;
}
.iconsFaceInst{
    padding-bottom: 1em;
}
.iconsFaceInst a{
    font-size: 1.5em;
    padding-left: .5em;
}
.footerInfo p{
    color: #fff;
    font-size: .8em;
    font-weight: 300;
}
.footerInfo a {
    color: #fff;
    font-size: .8em;
    text-decoration: none;
    font-weight: 300;
}
.footerInfo a:hover{
    color: #FFEB54;
}

.footerName{
    padding: 3em ;
}
.footerName p{
    padding-top: 2em;
    color: #fff;
    font-weight: 300;
    font-size: .8em;
}

/****media queries***/

@media screen and (max-width: 1000px) {
    .containerFooter{
        padding: 2em 1em;
    }
    .containerImage{
        width: 100%;
        text-align: center;
    }
    .containerImage p{
        width: 100%;
        padding-bottom: 1em;
        border-bottom: 1px solid #fff;
    }
    .footerNav{
        width: 100%;
        padding: 2em 0;
        border-bottom: 1px solid #fff;
    }
    .footerIcons{
        text-align: center;
        padding-top: 1em;
        width: 100%;
    }
    .footerName{
        padding-bottom: 1em;
    }
    .footerName p{
        text-align: center;
    }
}