.carousel {
    position: relative;
}
.containerSlide{
    display: flex;
    flex-wrap: nowrap;
}
.slide {
    min-width: 100%;
    overflow: hidden;
    transition: 1.3s all ease;
    z-index: 10;
    max-height: 26em;
    position: relative;
}
.slide img {
    object-fit: cover;
    object-position: center;
    vertical-align: top;
    width: 100%;
    height: 100%;
}
.textSlide{
    background-color: rgba(255, 255, 255, 0.534);
    width: 100%;
    color: #faf1f18c;
    padding: .5em 3em;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 2em;
    margin-bottom: 1em;
}
/*botones*/
.controlsButton{
    position: absolute;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.controlsButton button{
    pointer-events: all;
    background: none;
    outline: none;
    border: none;
    font-size: 1.5em;
    width: 3em;
    height: 100%;
    position: absolute;
    transition: .3s all ease;
    cursor: pointer;
    text-align: center;
}
.buttonLeft{
    left: 0;
}
.buttonLeft:hover{
    transform: scale(1.1);
}
.buttonRigth{
    right: 0;
}
.buttonRigth:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 630px){
    .textSlide{
        position: relative;
        background-color: #555;
        padding: .5em;
    }
    .textSlide p {
        color: #fff;
        font-size: .5em;
    }
    .controlsButton button{
        width: 2px;
        font-size: .9em;
        height: 70%;
    }
    .slide img{
        margin-top: 5em;
        height: 15em;
    }
}
@media screen and (min-width: 2000px) {

    .slide img {
        height: 80vh;
        object-position: center;
    }
    .slide {
        max-height: 40em;
    }
}