
.carousel img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
}
.carousel-status{
    display: none;
}

.control-arrow:hover {
    background-color: transparent !important;
}
.carousel ul {
    display: none;
}

.legend {
    color: #555 !important;
    background-color: #faf1f1cb !important;
    font-size: 2em !important;
}