.containerInfo{
    height: 100%;
    padding: 5em;
}
.cardInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/public/assets/image/decoHeader2.jpeg);
    opacity: .7;
    background-position: center;
    background-size: cover;
    border-radius: 0.55em;
    height: 13em ;
    -webkit-box-shadow: 0px -5px 19px 6px #00000040;
    -moz-box-shadow: 0px -5px 19px 6px #00000040;
    box-shadow: 0px -5px 19px 6px #00000040;
}
.cardInfo h2{
    color: #fff;
    padding: .5em;
    padding-bottom: 1em;
    text-align: center;
}
.cardInfo a{
    color: #fff;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .containerInfo{
        padding: 1em;
    }
    .cardInfo h2{
        font-size: .9em;
    }
    .cardInfo a{
        font-size: .8em;
    }
}