.containerLeyCompra{
    padding: 10em 0 5em 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cancell{
    padding: 1em 0;
    text-align: center;
    width: 45%;
    border: solid 1px rgba(85, 85, 85, 0.384);
}
.cancell p{
    font-size: 1em;
    line-height: 200%;
    font-weight: 300;
}
.cancell a{
    font-size: .8em;
    cursor: pointer;
}
.rules{
    padding: 1em 0;
    text-align: center;
    width: 45%;
    border: solid 1px rgba(85, 85, 85, 0.384);
}
.rules p{
    font-size: 1em;
    line-height: 200%;
    font-weight: 300;
}
.rules a {
    font-size: .8em;
    cursor: pointer;
}

/* media querie */
@media screen and (max-width: 1200px){
    .cancell{
        width: 80%;
        margin-bottom: 1.5em;
    }
    .rules {
        width: 80%;
        padding: .5em;
    }
}